services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    command: tail -f /dev/null
    container_name: felicious-furball
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - ./src:/app/src
      - ./deno.json:/app/deno.json
      - ./deno.lock:/app/deno.lock
